name: Lint and Test on Pull Request

on:
  pull_request:

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt update && sudo apt install tox
      # temporarily allow to ssh to debug this action
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 20

      - run: tox -e lint

  branch_creation_tests:
    name: Branch Creation Script Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt update && sudo apt install tox
      - run: tox -e test_branch_creation

  batch_release_charms_tests:
    name: Batch Release Charms Script Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt update && sudo apt install tox
      - run: tox -e test_batch_release_charms
