name: Sync Charmstore Credentials

on:
  workflow_dispatch:
    inputs:
      DRY_RUN:
        description: 'true/false whether to run action in dry-run mode'
        required: true
        default: 'true'

jobs:
  sync_charmstore_credentials:
    runs-on: ubuntu-latest
    steps:
      - uses: google/secrets-sync-action@v1.7.2
        with:
          SECRETS: |
            ^CHARMCRAFT_CREDENTIALS$
          REPOSITORIES: |
            ^canonical/admission-webhook-operator$
            ^canonical/argo-operators$
            ^canonical/bundle-cert-manager$
            ^canonical/bundle-kubeflow$
            ^canonical/dex-auth-operator$
            ^canonical/envoy-operator$
            ^canonical/istio-operators$
            ^canonical/katib-operators$
            ^canonical/kfp-operators$
            ^canonical/knative-operators$
            ^canonical/kserve-operators$
            ^canonical/kubeflow-dashboard-operator$
            ^canonical/kubeflow-profiles-operator$
            ^canonical/kubeflow-roles-operator
            ^canonical/kubeflow-tensorboards-operator$
            ^canonical/kubeflow-volumes-operator$
            ^canonical/minio-operator$
            ^canonical/mlflow-operator$
            ^canonical/mlmd-operator$
            ^canonical/metacontroller-operator$
            ^canonical/ngc-integrator-operator$
            ^canonical/notebook-operators$
            ^canonical/oidc-gatekeeper-operator$
            ^canonical/pvcviewer-operator$
            ^canonical/pytorch-operator$
            ^canonical/resource-dispatcher$
            ^canonical/training-operator$
            ^canonical/seldon-core-operator$
            ^canonical/tfjob-operator$
          DRY_RUN: ${{ github.event.inputs.DRY_RUN }}
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          CONCURRENCY: 10
        env:
          CHARMCRAFT_CREDENTIALS: ${{ secrets.CHARMCRAFT_CREDENTIALS }}
